# Virtual environment
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo

# Jupyter temporary files
.ipynb_checkpoints/

# Environment variables
.env

# Operating system files
.DS_Store
Thumbs.dbsupport_assistant/requirement.txt
support_assistant/run.sh
